@{
    ViewBag.Title = "Index";
    Layout = null;
    //首页
}



<!DOCTYPE html>

<head>
    <!--
        Gloss Template
        http://www.templatemo.com/preview/templatemo_433_gloss
    -->
    <title>Gloss Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/Content/css/templatemo_style.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/swi.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- JavaScripts -->

    <script src="~/Scripts/myjs/jquery-1.11.1.min.js"></script> <!-- lightbox -->
    <script src="~/Scripts/myjs/templatemo_custom.js"></script> <!-- lightbox -->
    <script src="~/Scripts/myjs/jquery.lightbox.js"></script>
    <script src="~/Scripts/myjs/bootstrap-collapse.js"></script>
    <script src="~/Scripts/myjs/sw.js"></script>
</head>

<body>
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="templatemo_topwrapper shadow">
                    <div class="col-sm-4">
                        <div class="templatemo_webtitle">建党100周年</div>
                    </div>
                    <div class="col-sm-8">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">
                                            Toggle
                                            navigation
                                        </span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div id="top-menu">
                                    <div class="collapse navbar-collapse main_menu" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a class="show-1 templatemo_home" href="/User_/index">
                                                    <img src="~/Content/images/3.png" class="b">主页
                                                </a>
                                            </li>
                                            <li><a href="/User_/PT"><img src="~/Content/images/4.png" class="b">事迹</a></li>
                                            <li><a href="/User_/NEW"><img src="~/Content/images/5.png" class="d">新闻</a></li>
                                            <li><a href="/User_/count"><img src="~/Content/images/6.png" class="f">用户</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu-container"><</div>
    <div class="content homepage" id="menu-1">
        <div class="container">
            <!-- home start -->


            <div class="row">

                <div class="templatemo_homewrapper shadow">

                    <div class="col-md-12">
                        <!-- Swiper -->
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="~/Content/images/3lunbo.png" /></div>
                                <div class="swiper-slide"><img src="~/Content/images/4lunbo.jpg" /></div>
                                <div class="swiper-slide"><img src="~/Content/images/1lunbo.jpg" /></div>
                                <div class="swiper-slide"><img src="~/Content/images/2lunbo.jpg" /></div>

                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>

                        <!-- Swiper JS -->
                        <script>
                            var swiper = new Swiper('.swiper-container', {
                                autoplay: true,
                                speed: 2000,
                                loop: true,
                                pagination: {
                                    el: '.swiper-pagination',
                                    clickable: true,
                                },
                                navigation: {
                                    nextEl: '.swiper-button-next',
                                    prevEl: '.swiper-button-prev',
                                },
                            });
                        </script>


                    </div>

                </div>
            </div>

            <br /><br /><br />

            <div class="jrcd"><img src="~/Content/images/1中间.png" /></div>
            <div class="row">
                <div class="templatemo_home_mid shadow">
                    <div class="col-md-4 templatemo_box gradient">
                        <div class="boxsub1">
                            <div class="boxsub2">
                                <img src="~/Content/images/8.png" alt="templatemo watch">
                                <div class="templatemo_home_midheader">五四运动</div>
                                <div class="templatemo_home_midtext">
                                    五四运动直接影响了中国共产党的诞生和发展，中国共产党党史一般将其定义为“反帝反封建的爱国运动”。
                                </div>
                                <!--<a href="https://baike.baidu.com/item/五四运动/291670?fr=aladdin">-->
                                <a href="https://baike.baidu.com/item/五四运动/291670?fr=aladdin">
                                    <div class="templatemo_readmore gradient">了解更多</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 templatemo_box gradient">
                        <div class="boxsub1">
                            <div class="boxsub2">
                                <img src="~/Content/images/9.png" alt="templatemo bay">
                                <div class="templatemo_home_midheader">第一次全国代表大会</div>
                                <div class="templatemo_home_midtext">
                                    一大召开标志着中国共产党的正式成立，犹如一轮红日在东方冉冉升起，照亮了中国革命的前程。
                                </div>
                                <a href="https://baike.baidu.com/item/中国共产党第一次全国代表大会/1009159?fr=aladdin">
                                    <div class="templatemo_readmore gradient">了解更多</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 templatemo_box_last gradient">
                        <div class="boxsub1">
                            <div class="boxsub2">
                                <img src="~/Content/images/9.png" alt="templatemo search">
                                <div class="templatemo_home_midheader">共产党宣言 </div>
                                <div class="templatemo_home_midtext">
                                    《共产党宣言》是马克思和恩格斯为共产主义者同盟起草的纲领，全文贯穿马克思主义的历史观
                                    ，是马克思主义诞生的重要标志。
                                </div>
                                <a href="https://baike.baidu.com/item/%E5%85%B1%E4%BA%A7%E5%85%9A%E5%AE%A3%E8%A8%80/361439?fr=aladdin">
                                    <div class="templatemo_readmore gradient">了解更多</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br /><br />

            <div class="jrcd"><img src="~/Content/images/2中间.png" /></div>

            <div class="row">
                <div class="templatemo_homewrapper1 shadow">
                    <div class="templatemo_hometop_bg">
                        <div class="col-md-6">
                            <div class="templemo_hometop_img">
                                <img src="~/Content/images/2.png" alt="templatemo home image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="templatemo_hometop_title">中国共产党</div>
                            <div class="templatemo_hometop_subtitle">the Communist Party of China</div>
                            <h6>
                                中国共产党创建于1921年7月23日,共产党成立后，确立了新民主主义革命的正确道路，
                                让灾难深重的中国人民看到了新的希望。我们党探索出农村包围城市、武装夺取政权的正确革命道路，
                                建立了人民当家作主的中华人民共和国，彻底结束了近代以来中国的悲惨境地，开启了中华民族发展进步的新纪元。
                            </h6>


                            <a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E5%85%B1%E4%BA%A7%E5%85%9A/117227?fr=aladdin">
                                <div class="templatemo_hometop_more blue">了解更多</div>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <br /><br /><br />

            <div class="jrcd"><img src="~/Content/images/3中间.png" /></div>


            <div class="row">
                <div class="templatemo_home_bot shadow">
                    <div class="col-md-12 gradient padd-top20">
                        <div class="col-md-2">
                            <img src="~/Content/images/11.png" alt="templatemo home image">
                        </div>
                        <div class="col-md-4">
                            <div class="templatemo_home_botheader">周永开</div>
                            <div class="templatemo_home_botsubheader">全国优秀共产党员</div>
                            周永开同志是践行共产党人初心使命的典范，是党员干部学习的榜样。他对党的事业无限忠诚，解放前冒着生命危险从事川北地区党的地下工作，新中国成立后全心全意为百姓造福，一辈子听党话、跟党走，用实际行动践行“党是一生的追随”的座右铭。
                        </div>
                        <div class="col-md-2"><img src="~/Content/images/12.jpg" alt="templatemo home image"></div>
                        <div class="col-md-4">
                            <div class="templatemo_home_botheader">卢永根</div>
                            <div class="templatemo_home_botsubheader">全国优秀共产党员</div>
                            卢永根同志是我国著名农业科学家、作物遗传学家。他对党、对祖国无限热爱，毅然放弃香港的优渥生活，把毕生精力都献给祖国的农业科学和教育事业。他学高德馨、治学严谨，满腔热情投身水稻遗传育种研究，取得一系列重要研究成果。
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-2">
                            <img src="~/Content/images/13.jpg" alt="templatemo home image">
                        </div>
                        <div class="col-md-4">
                            <div class="templatemo_home_botheader">张桂梅</div>
                            <div class="templatemo_home_botsubheader">全国优秀共产党员</div>
                            张桂梅同志把全部身心投入到边疆民族地区教育事业和儿童福利事业，创办了全国第一所全免费女子高中，是华坪儿童之家130多个孤儿的“妈妈”。
                        </div>
                        <div class="col-md-2"><img src="~/Content/images/14.png" alt="templatemo home image"></div>
                        <div class="col-md-4">
                            <div class="templatemo_home_botheader">李夏</div>
                            <div class="templatemo_home_botsubheader">全国优秀共产党员</div>
                            李夏同志对党忠诚、信念坚定，扎根奉献皖南山区，多次放弃到县直机关工作机会，甘于在最艰苦、最偏远的乡镇基层奋斗青春，勇于在抗洪抢险等急难险重任务中冲锋在前。
                        </div>
                    </div>
                </div>
            </div>

            <!-- home end -->
        </div>
    </div>

    <br /><br /><br />

    <div class="wrapper footer" id="footer">
        <div class="inner">
            <div class="mod clearfix">
                <div>Copyright@桂林电子科技大学</div>
                <div>地址：++++++++++++++++++&nbsp; 邮编：+++++ &nbsp;Email：+++++++++</div>
            </div>
        </div>
    </div>
    <!--End||footer-->
    <!-- footer end -->
</body>





