@{
    ViewBag.Title = "Index";
    Layout = null;
    //首页
}



<!DOCTYPE html>

<head>
    <!--
        Gloss Template
        http://www.templatemo.com/preview/templatemo_433_gloss
    -->
    <title>Gloss Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/Content/css/templatemo_style.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/swi.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- JavaScripts -->

    <script src="~/Scripts/myjs/jquery-1.11.1.min.js"></script> <!-- lightbox -->
    <script src="~/Scripts/myjs/templatemo_custom.js"></script> <!-- lightbox -->
    <script src="~/Scripts/myjs/jquery.lightbox.js"></script>
    <script src="~/Scripts/myjs/bootstrap-collapse.js"></script>

</head>

<body>
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="templatemo_topwrapper shadow">
                    <div class="col-sm-4">
                        <div class="templatemo_webtitle">建党100周年</div>
                    </div>
                    <div class="col-sm-8">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">
                                            Toggle
                                            navigation
                                        </span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div id="top-menu">
                                    <div class="collapse navbar-collapse main_menu" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/User_/index">
                                                    <img src="~/Content/images/3.png" class="b">主页
                                                </a>
                                            </li>
                                            <li><a href="/User_/PT"><img src="~/Content/images/4.png" class="b">事迹</a></li>
                                            <li>
                                                <a href="/User_/NEW">
                                                    <img src="~/Content/images/5.png" class="d">新闻
                                                </a>
                                            </li>
                                            <li><a href="/User_/count"><img src="~/Content/images/6.png" class="f">用户</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu-container"></div>
    <div class="content homepage" id="menu-1">

        <div class="container">
            <div class="row templatemo_about_wrapper">
                <div class="col-md-12 gradient">
                    <div class="templatemo_about">
                        <div class="templatemo_about_title">
                            <div class="searchinput right">
                                <input type="text" value="请输入关键字" onclick="this.value='',this.style.color='#000'"
                                       name="q" id="q" class="search_input ac_input"
                                       onkeydown="return quickQueryCust(event)" autocomplete="off"
                                       style="color: rgb(0, 0, 0);">

                                <div class="search_listbox">

                                    <div style="_position:relative;padding:0px;margin:0px;"
                                         onmouseout="search_select(1)" onmouseover="search_select(0)" class="dii71"
                                         id="id7">
                                        <div class="select_border">

                                            <div class="select_container">
                                                <select id="s0" name="s0" class="selectnews">
                                                    <option value="cns">作 者</option>
                                                    <option value="baidu">名 称</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <input type="submit" value="搜索" class="g">
                                <div class="clear"></div>
                            </div>

                        </div>

                        <a href="/User_/NEW2" class="k">神舟十二号载人飞船成功发射，飞行任务宣传片重磅发布！ </a>
                        <a href="/User_/NEW2" class="l">
                            <span class="v">
                                2&nbsp
                            </span>31省份新增新冠肺炎确诊病例19例
                        </a>
                        <a href="/User_/NEW2" class="l">
                            <span class="vv">
                                3&nbsp
                            </span>刘少奇致信14岁女儿：你到底要做一个什么样的青年？
                        </a>
                        <a href="/User_/NEW2" class="l">
                            <span class="vvv">
                                4&nbsp
                            </span>坠河瞬间，女孩被赶来营救的民警一把拽住
                        </a>
                        <a href="/User_/NEW2" class="l">
                            <span class="vvv">
                                5&nbsp
                            </span>山东临沂有个“学霸村” 出了16名博士和20名硕士
                        </a>
                        <a href="/User_/NEW2" class="l">
                            <span class="vvv">
                                6&nbsp
                            </span>尼泊尔大坝决堤 1名中国公民遇难
                        </a>
                        <a href="/User_/NEW2" class="l">
                            <span class="vvv">
                                7&nbsp
                            </span>中方决定对比利时一议员实施制裁
                        </a>
                        <a href="/User_/NEW2" class="l">
                            <span class="vvv">
                                8&nbsp
                            </span>香港警务处国家安全处拘捕壹传媒集团行政总裁张剑虹等5人
                        </a>
                        <a href="/User_/NEW2" class="l">
                            <span class="vvv">
                                9&nbsp
                            </span>美联储发布经济预测2023年底将有两次加息
                        </a>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 templatemo_who">
                    <div class="templatemo_about_title"><a href="/User_/NEW2" class="p">中国载人航天史上的四组神秘代号是什么?</a></div>
                    <div class="templatemo_about_text">
                        <p>
                            北京时间6月17日9时22分神舟十二号载人飞船点火发射！
                            这是中国空间站阶段首次载人飞行任务。
                            飞行乘组由航天员聂海胜、刘伯明和汤洪波组成，聂海胜担任指令长，备份航天员为翟志刚、王亚平、叶光富。
                            按计划，航天员进驻核心舱，执行天地同步作息制度进行工作生活，驻留约3个月后，搭乘飞船返回舱返回东风着陆场。

                            中国人探索宇宙奥秘的开始，要从51年前，1970年4月24日那个夜晚说起……

                            1970年4月24日，长征一号火箭成功发射东方红一号卫星。中国成为了全世界第五个有能力独立研制和发射人造地球卫星的国家。

                            在我国载人航天工程的发展历程中，有几组你必须知道的数字：“714”“863”“921”“507”

                            它们都代表着什么呢？让我们一起来看看吧！
                        </p>
                        <div class="templatemo_about_text_image">
                            <a href="/User_/NEW2"><img src="~/Content/images/15.png" alt="templatemo team 1"></a>
                            <div class="clear"></div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="row gradient">
                <div class="col-md-4">
                    <div class="templatemo_bot_box">
                        <div class="title">
                            <a href="/User_/NEW2" class="po"
                               style="text-decoration:none;">
                                &nbsp&nbsp&nbsp文
                                化
                            </a>
                        </div>
                        <a href="/User_/NEW2" class="m"
                           style="text-decoration:none;">&nbsp&nbsp&nbsp《乾隆朝文人戏曲研究》开启清代戏曲研究新视角</a>
                        <ul>
                            <li><a href="/User_/NEW2" class="ll">炸圈背后，《端午奇妙游》做对了什么</a></li>
                            <li><a href="/User_/NEW2" class="ll">对话神舟十二号航天员：在浩瀚太空留下中国足迹</a></li>
                            <li><a href="/User_/NEW2" class="ll">展现百姓生活的百年画卷</a></li>
                            <li><a href="/User_/NEW2" class="ll">宝松：用绘画讲述中国故事</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="templatemo_bot_box">
                        <div class="title">
                            <a href="/User_/NEW2" class="po"
                               style="text-decoration:none;">
                                &nbsp&nbsp&nbsp国
                                际
                            </a>
                        </div>
                        <a href="/User_/NEW2" class="m"
                           style="text-decoration:none;">
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp印度已经开始解封
                            一商场挤进近2万人
                        </a>
                        <ul>
                            <li><a href="/User_/NEW2" class="ll">文在寅出访时看到一副古地图：证明独岛是韩国领土</a></li>
                            <li><a href="/User_/NEW2" class="ll">美国联邦航空局向波音发布指令</a></li>
                            <li><a href="/User_/NEW2" class="ll">外国专家：G7倡议只有一种成功可能就是与中国合作</a></li>
                            <li><a href="/User_/NEW2" class="ll">除了联合声明，“普拜会”还谈了啥？</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="templatemo_bot_box">
                        <div class="title">
                            <a href="/User_/NEW2" class="po"
                               style="text-decoration:none;">
                                &nbsp&nbsp&nbsp社
                                会
                            </a>
                        </div>
                        <a href="/User_/NEW2" class="m" style="text-decoration:none;">
                            &nbsp&nbsp&nbsp&nbsp&nbsp适应性改进
                            “神十二”飞船更可靠更安全
                        </a>
                        <ul>
                            <li><a href="/User_/NEW2" class="ll">潘石屹卖了SOHO中国</a></li>
                            <li><a href="/User_/NEW2" class="ll">中俄牵头，2035年在月球建成国际科研站</a></li>
                            <li><a href="/User_/NEW2" class="ll">央视曝光后，副部长带队暗访</a></li>
                            <li><a href="/User_/NEW2" class="ll">浙江嘉善不明物坠入鱼塘后续：专家勘测未发现踪迹</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />

    <div class="wrapper footer" id="footer">
        <div class="inner">
            <div class="mod clearfix">
                <div>Copyright@桂林电子科技大学</div>
                <div>地址：++++++++++++++++++&nbsp; 邮编：+++++ &nbsp;Email：+++++++++</div>
            </div>
        </div>
    </div>
    <!-- footer end -->
</body>


