@{
    ViewBag.Title = "Index";
    Layout = null;
    //首页
}



<!DOCTYPE html>

<head>
    <!--
        Gloss Template
        http://www.templatemo.com/preview/templatemo_433_gloss
    -->
    <title>Gloss Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/Content/css/templatemo_style.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/swi.css">
    

    <!-- JavaScripts -->

    <script src="~/Scripts/myjs/jquery-1.11.1.min.js"></script> <!-- lightbox -->
    <script src="~/Scripts/myjs/templatemo_custom.js"></script> <!-- lightbox -->
    <script src="~/Scripts/myjs/jquery.lightbox.js"></script>
    <script src="~/Scripts/myjs/bootstrap-collapse.js"></script>

</head>

<body>
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="templatemo_topwrapper shadow">
                    <div class="col-sm-4">
                        <div class="templatemo_webtitle">建党100周年</div>
                    </div>
                    <div class="col-sm-8">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">
                                            Toggle
                                            navigation
                                        </span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div id="top-menu">
                                    <div class="collapse navbar-collapse main_menu" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/User_/index">
                                                    <img src="~/Content/images/3.png" class="b">主页
                                                </a>
                                            </li>
                                            <li><a href="/User_/PT"><img src="~/Content/images/4.png" class="b">事迹</a></li>
                                            <li>
                                                <a href="/User_/NEW">
                                                    <img src="~/Content/images/5.png" class="d">新闻
                                                </a>
                                            </li>
                                            <li><a href="/User_/count"><img src="~/Content/images/6.png" class="f">用户</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu-container">
        <div class="content homepage" id="menu-1">
            <div class="container">
                <div class="main-container container" id="main-container">

                    <!-- Content -->
                    <div class="row">

                        <!-- post content -->
                        <div class="col-lg-8 blog__content mb-30">



                            <!-- standard post -->
                            <article class="entry">



                                <div class="entry__img-holder">
                                    <img src="img/blog/single_post_featured_img.jpg" alt="" class="entry__img">
                                </div>



                                <div class="entry__article">
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />


                                    <h2>建党100周年</h2>
                                    <h3>作者</h3>

                                    <p>
                                        Music can help you get into a “flow state” -- losing yourself in the task at
                                        hand. Even repetitive tasks or mundane assignments seem more bearable, or even
                                        fun, when your favorite tunes are in your ears. Plus, your eyes won’t be so
                                        prone to checking the time. <a href="#">Check out these</a> and more reasons to
                                        bring your music to work in this Zing Instruments infographic below. A great
                                        piece of music is an instant mood lifter. Plenty of scientific evidence backs
                                        this up - we`re happier bunnies when listening to music.
                                    </p>

                                    <figure>
                                        <img data-src="img/blog/single_post_img.jpg" src="img/empty.png" alt=""
                                             class="lazyload">
                                        <figcaption>The best WordPress theme</figcaption>
                                    </figure>

                                    <p>
                                        Nulla rhoncus orci varius purus lobortis euismod. Fusce tincidunt dictum est et
                                        rhoncus. Vivamus hendrerit congue nisi, et nisl tincida vestibulum elit
                                        tincidunt eu. Vivamus ac pharetra orci, in feugiat massa. Proin congue mauris
                                        pretium, ultricies tortor in, aliquam urna. Vivamus mi tortor, finibus a
                                        interdum ac, ultricies in elit. Vestibulum ante ipsum primis in faucibus orci
                                        luctus et ultrices posuere hendrerit ex eu scelerisque.
                                    </p>

                                    <h3>Summary</h3>

                                    <p>
                                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. And finally the
                                        subconscious is the mechanism through which thought impulses which are repeated
                                        regularly with feeling and emotion are quickened, charged. And finally the
                                        subconscious is the mechanism through which thought impulses which are repeated
                                        regularly with feeling and emotion.
                                    </p>





                                </div> <!-- end entry article -->






                            </article> <!-- end standard post -->








                        </div> <!-- end col -->




                    </div> <!-- end content -->
                </div> <!-- end main container -->
            </div>
        </div>
    </div>
    <!-- gallery start -->
    <!-- footer start -->
   
    <!-- footer end -->
</body>





