@{
    ViewBag.Title = "Index";
    Layout = null;
    //首页
}



<!DOCTYPE html>

<head>
    <!--
        Gloss Template
        http://www.templatemo.com/preview/templatemo_433_gloss
    -->
    <title>Gloss Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/Content/css/templatemo_style.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/swi.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- JavaScripts -->

    <script src="~/Scripts/myjs/jquery-1.11.1.min.js"></script> <!-- lightbox -->
    <script src="~/Scripts/myjs/templatemo_custom.js"></script> <!-- lightbox -->
    <script src="~/Scripts/myjs/jquery.lightbox.js"></script>
    <script src="~/Scripts/myjs/bootstrap-collapse.js"></script>

</head>

<body>
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="templatemo_topwrapper shadow">
                    <div class="col-sm-4">
                        <div class="templatemo_webtitle">建党100周年</div>
                    </div>
                    <div class="col-sm-8">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">
                                            Toggle
                                            navigation
                                        </span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div id="top-menu">
                                    <div class="collapse navbar-collapse main_menu" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/User_/index">
                                                    <img src="~/Content/images/3.png" class="b">主页
                                                </a>
                                            </li>
                                            <li><a href="/User_/PT"><img src="~/Content/images/4.png" class="b">事迹</a></li>
                                            <li><a href="/User_/NEW"><img src="~/Content/images/5.png" class="d">新闻</a></li>
                                            <li><a class="show-1 templatemo_home" href="/User_/count"><img src="~/Content/images/6.png" class="f">用户</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu-container">
        <div class="content homepage" id="menu-1">
            <div id="menu-4" class="container">
                <div class="row gradient templatemo_contact_wrapper">
                    <div class="col-md-12">
                        <div class="templatemo_contact_map">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="templatemo_contact_title">注册</div>

                    </div>


                    <div class="col-md-6">

                        <div class="templatemo_form">

                            <form action="#" method="post" id="templatemo-contact">
                                <input type="number" name="name" id="nametext" class="name" placeholder="账号">
                                <input type="password" name="email" id="emailtext" class="email" placeholder="密码">
                                <input type="email" name=" email" id="emailtext" class="email" placeholder="邮件">
                                <button type="submit" class="blue">注册</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- contact end -->
    </div>

    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <div class="wrapper footer" id="footer">
        <div class="inner">
            <div class="mod clearfix">
                <div>Copyright@桂林电子科技大学</div>
                <div>地址：++++++++++++++++++&nbsp; 邮编：+++++ &nbsp;Email：+++++++++</div>
            </div>
        </div>
    </div>
    <!-- footer end -->
</body>


